version: "3.8"

services:
  frontend:
    build: ./frontend
    ports:
      - "80:4200"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
